<div id="confirmModal" class="modal" style="display: none;">
    <div class="modal-content">
        <p id="modalMessage"></p>
        <div class="modal-buttons">
            <button id="confirmBtn" class="btn btn-primary">Confirmar</button>
            <button id="cancelBtn" class="btn btn-secondary">Cancelar</button>
        </div>
    </div>
</div>

<div id="infoModal" class="modal" style="display: none;">
    <div class="modal-content">
        <p id="infoMessage"></p>
        <div class="modal-buttons">
            <button id="okBtn" class="btn btn-primary">OK</button>
        </div>
    </div>
</div> 