@model LibSpace_Aspnet.Models.Requisitum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Requisitum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLeitor" />
            <div class="form-group">
                <label asp-for="IdBibliotecarioRecetor" class="control-label"></label>
                <input asp-for="IdBibliotecarioRecetor" class="form-control" />
                <span asp-validation-for="IdBibliotecarioRecetor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBibliotecarioRemetente" class="control-label"></label>
                <input asp-for="IdBibliotecarioRemetente" class="form-control" />
                <span asp-validation-for="IdBibliotecarioRemetente" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdLivro" />
            <input type="hidden" asp-for="DataRequisicao" />
            <div class="form-group">
                <label asp-for="DataPrevEntrega" class="control-label"></label>
                <input asp-for="DataPrevEntrega" class="form-control" />
                <span asp-validation-for="DataPrevEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label"></label>
                <input asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
