@model LibSpace_Aspnet.Models.Editora

@{
    ViewData["Title"] = "Delete";
}

<div class="form-container">
    <h4 class="form-title">Eliminar Editora</h4>

    <div class="alert alert-danger">
        <h5>Tem a certeza que deseja eliminar esta editora?</h5>
    </div>

    <div class="form-content">
        <div class="form-row">
            <div class="form-group">
                <p><span class="info-label">Nome:</span> @Html.DisplayFor(model => model.NomeEditora)</p>
                <p><span class="info-label">Sobre a Editora:</span> @Html.Raw(Model.InfoEditora?.Replace("\n", "<br />"))</p>
                @if (!string.IsNullOrEmpty(Model.ImgEditora))
                {
                    <p>
                        <span class="info-label">Imagem:</span>
                        <img src="~/Editora_IMG/@Model.ImgEditora" alt="Imagem da Editora" style="width: 150px; height: auto; display: block;" />
                    </p>
                }
            </div>
        </div>

        <form asp-action="Delete" class="form-row" method="post">
            <input type="hidden" asp-for="IdEditora" />
            <div class="form-actions">
                <button type="button" class="btn btn-secondary" onclick="history.back()">Voltar</button>
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/create_design_editora_delete.css" />
}