@model LibSpace.Models.Livro

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEdicao" class="control-label"></label>
                <input asp-for="DataEdicao" class="form-control" />
                <span asp-validation-for="DataEdicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TituloLivros" class="control-label"></label>
                <input asp-for="TituloLivros" class="form-control" />
                <span asp-validation-for="TituloLivros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idioma" class="control-label"></label>
                <input asp-for="Idioma" class="form-control" />
                <span asp-validation-for="Idioma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumExemplares" class="control-label"></label>
                <input asp-for="NumExemplares" class="form-control" />
                <span asp-validation-for="NumExemplares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapaImg" class="control-label"></label>
                <input asp-for="CapaImg" class="form-control" />
                <span asp-validation-for="CapaImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopse" class="control-label"></label>
                <input asp-for="Sinopse" class="form-control" />
                <span asp-validation-for="Sinopse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clicks" class="control-label"></label>
                <input asp-for="Clicks" class="form-control" />
                <span asp-validation-for="Clicks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
