@model LibSpace_Aspnet.Models.Autor

@{
    ViewData["Title"] = "Create";
}

<div class="forms_design">
    <h4 class="textform_color">Adicionar Autor</h4>
    <div class="col-md-4">
        <form asp-action="Create" class="forms_center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <hr />
            <div class="form-group">
                <label asp-for="NomeAutor" class="control-label textform_color">Nome</label>
                <input asp-for="NomeAutor" class="form-control" />
                <span asp-validation-for="NomeAutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pseudonimo" class="control-label textform_color">Pseudonimo (Opcional)</label>
                <input asp-for="Pseudonimo" class="form-control" />
                <span asp-validation-for="Pseudonimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label textform_color">Data de Nascimento</label>
                <input asp-for="DataNascimento" type="date" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataFalecimento" class="control-label textform_color">Data de Falecimento (Opcional)</label>
                <input asp-for="DataFalecimento" type="date" class="form-control" />
                <span asp-validation-for="DataFalecimento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bibliografia" class="control-label textform_color">Bibliografia</label>
                <textarea asp-for="Bibliografia" class="textbox"></textarea>
                <span asp-validation-for="Bibliografia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLingua" class="control-label textform_color">País de Nascimento</label>
                <select asp-for="IdLingua" class="form-control" asp-items="ViewBag.IdLingua"></select>
            </div>
            <br />
            <hr />
            <div class="form-group">
                <a asp-action="Index" class="btn_submit">Cancelar</a>
                <input type="submit" value="Criar Autor" class="btn_submit" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
