@model LibSpace_Aspnet.Models.AutorViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="form-container">
    <h4 class="form-title">Editar Autor</h4>
    <form asp-action="Edit" enctype="multipart/form-data" class="form-content">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdAutor" />
        <input type="hidden" asp-for="FotoAutor" name="OldPhoto" /> @* Campo oculto para a foto antiga *@

        @* Exibe a foto atual, se existir *@
        @if (!string.IsNullOrEmpty(Model.FotoAutor))
        {
            <div class="form-row">
                <div class="form-group">
                    <label class="form-label">Foto Atual</label>
                    <img src="~/Foto_Autor/@Model.FotoAutor" alt="Foto do Autor" style="width: 150px; height: auto; margin-bottom: 10px;" />
                </div>
            </div>
        }

        <div class="form-row">
            <div class="form-group">
                <label asp-for="NomeAutor" class="form-label">Nome do Autor <span class="required">*</span></label>
                <input asp-for="NomeAutor" class="form-control" />
                <span asp-validation-for="NomeAutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pseudonimo" class="form-label">Pseudónimo</label>
                <input asp-for="Pseudonimo" class="form-control" />
                <span asp-validation-for="Pseudonimo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label asp-for="DataNascimento" class="form-label">Data de Nascimento <span class="required">*</span></label>
                <input asp-for="DataNascimento" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFalecimento" class="form-label">Data de Falecimento</label>
                <input asp-for="DataFalecimento" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="DataFalecimento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="form-label">Nova Foto</label> @* Label para nova foto *@
                <input type="file" name="NewPhoto" class="form-control" accept=".jpg, .jpeg, .png" /> @* Campo para upload de nova foto *@
            </div>
            <div class="form-group">
                <label asp-for="Bibliografia" class="form-label">Bibliografia <span class="required">*</span></label>
                <textarea asp-for="Bibliografia" class="form-control textarea"></textarea>
                <span asp-validation-for="Bibliografia" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label asp-for="IdLingua" class="form-label">Língua <span class="required">*</span></label>
                <select asp-for="IdLingua" class="form-control" asp-items="ViewBag.IdLingua"></select>
                <span asp-validation-for="IdLingua" class="text-danger"></span>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="btn btn-secondary" onclick="history.back()">Voltar</button>
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/create_design_autor_edit.css" /> @* Referencia o novo arquivo CSS *@
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}