
@{
    ViewData["Title"] = "Acesso Negado";
}

<h1>ACESSO NEGADO</h1>

<p>Não tem autorização para aceder a esta página</p>

<button type="button" class="btn btn-secondary" onclick="history.back()">Voltar</button>
