@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<link rel="stylesheet" href="~/css/manage.css" asp-append-version="true" />

@RenderSection("Styles", required: false)

<h1>Os meus dados pessoais</h1>

<div>
    <h2>Altere as defenições da sua conta</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("Scripts", required: false)
