@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Repor chave de autenticação";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se repor a chave de autenticação, a sua aplicação de autenticação não funcionará até que a reconfigure.</strong>
    </p>
    <p>
        Este processo desativa o 2FA até verificar a sua aplicação de autenticação.
        Se não concluir a configuração da aplicação de autenticação, poderá perder o acesso à sua conta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Repor chave do autenticação</button>
    </form>
</div>
