@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Redefinir palavra-passe";
}

<div class="confirm-container">
    <div class="confirm-card">
        <div class="logo-container">
            <img src="/images/logo.png" alt="LibSpaceLogo" class="logo">
        </div>
        <h1>@ViewData["Title"]</h1>
        
            
                <p class="status-message">
                    Por favor, verifique o seu email para redefinir a sua palavra-passe.
                </p>
            
        
    </div>

</div>

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/css/resetPassConfirm.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
