@model LibSpace_Aspnet.Models.Livro

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isbn" class="control-label"></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEdicao" class="control-label"></label>
                <input asp-for="DataEdicao" class="form-control" />
                <span asp-validation-for="DataEdicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TituloLivros" class="control-label"></label>
                <input asp-for="TituloLivros" class="form-control" />
                <span asp-validation-for="TituloLivros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumExemplares" class="control-label"></label>
                <input asp-for="NumExemplares" class="form-control" />
                <span asp-validation-for="NumExemplares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapaImg" class="control-label"></label>
                <input asp-for="CapaImg" class="form-control" />
                <span asp-validation-for="CapaImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEditora" class="control-label"></label>
                <select asp-for="IdEditora" class ="form-control" asp-items="ViewBag.IdEditora"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdLingua" class="control-label"></label>
                <select asp-for="IdLingua" class ="form-control" asp-items="ViewBag.IdLingua"></select>
            </div>
            <div class="form-group">
                <label asp-for="Sinopse" class="control-label"></label>
                <input asp-for="Sinopse" class="form-control" />
                <span asp-validation-for="Sinopse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAutor" class="control-label"></label>
                <select asp-for="IdAutor" class ="form-control" asp-items="ViewBag.IdAutor"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdGeneros" class="control-label"></label>
                <select asp-for="IdGeneros" class ="form-control" asp-items="ViewBag.IdGeneros"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
