@model LibSpace.Models.LivroViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container form-container">
    <h4 class="form-title">Editar Livros</h4>
    <form asp-action="Edit" class="form-content" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Campo para adicionar a capa do livro -->
        <div class="form-row">
            <div class="form-group">
                <label asp-for="CapaImg" class="control-label textform_color">Insira uma foto</label>
                <input asp-for="CapaImg"
                       type="file"
                       class="form-control-file"
                       id="CapaImgInput"
                       onchange="previewImage(event, 'CapaImgPreview')" />
                <span asp-validation-for="CapaImg" class="text-danger"></span>
            </div>
            <div class="form-group position-relative">
                <img id="CapaImgPreview"
                     src="@Url.Content(ViewBag.CapaImg)"
                     alt="Image Preview"
                     style="max-width: 200px; max-height: 200px; margin-top: 10px; display:@(ViewBag.CapaImg != null ? "block" : "none");" />
                <!-- Botão para remover a imagem -->
                <button type="button"
                        class="btn btn-danger btn-sm position-absolute"
                        style="top: 10px; right: 10px; display:@(ViewBag.CapaImg != null ? "block" : "none");"
                        id="removeImageButton"
                        onclick="removeImage('CapaImgInput', 'CapaImgPreview', 'removeImageButton')">
                    X
                </button>

            </div>
        </div>

        <!-- Campos ISBN e Título -->
        <div class="form-row">
            <div class="form-group">
                <label asp-for="Isbn" class="form-label">ISBN <span class="text-danger">*</span></label>
                <input asp-for="Isbn" class="form-control" />
                <span asp-validation-for="Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TituloLivros" class="form-label">Título <span class="text-danger">*</span></label>
                <input asp-for="TituloLivros" class="form-control" />
                <span asp-validation-for="TituloLivros" class="text-danger"></span>
            </div>
        </div>

        <!-- Campos Autor com dropdown e link para criar novo autor -->
        <div class="form-row">
            <div class="form-group">
                <label asp-for="IdAutor" class="form-label">Autor <span class="text-danger">*</span></label>
                <select asp-for="IdAutor" class="form-control" asp-items="ViewBag.IdAutor"></select>
                <span asp-validation-for="IdAutor" class="text-danger"></span>
                <label class="control-label">Caso não exista:</label>
                <button type="button" class="btn btn-link btn_rend" data-bs-toggle="modal" data-bs-target="#createAutorModal">
                    Criar Autor
                </button>
            </div>

            <!-- Campo Editora com dropdown e link para criar nova editora -->
            <div class="form-group">
                <label asp-for="IdEditora" class="form-label">Editora <span class="text-danger">*</span></label>
                <select asp-for="IdEditora" class="form-control" asp-items="ViewBag.IdEditora"></select>
                <span asp-validation-for="IdEditora" class="text-danger"></span>
                <label class="control-label">Caso não exista:</label>
                <button type="button" class="btn btn-link btn_rend" data-bs-toggle="modal" data-bs-target="#createEditoraModal">
                    Criar Editora
                </button>
            </div>
        </div>

        <!-- Campos Idioma e Número de Exemplares -->
        <div class="form-row">
            <div class="form-group">
                <label asp-for="IdLingua" class="form-label">País de Origem <span class="text-danger">*</span></label>
                <select asp-for="IdLingua" class="form-control" asp-items="ViewBag.IdLingua"></select>
                <span asp-validation-for="IdLingua" class="text-danger"></span>
                <label class="control-label">Caso não exista:</label>
                <button type="button" class="btn btn-link btn_rend" data-bs-toggle="modal" data-bs-target="#createPaisModal">
                    Criar País
                </button>

            </div>
            <div class="form-group">
                <label asp-for="NumExemplares" class="form-label">Número de Exemplares <span class="text-danger">*</span></label>
                <input asp-for="NumExemplares" class="form-control" />
                <span asp-validation-for="NumExemplares" class="text-danger"></span>
            </div>
        </div>

        <!-- Campo Data de Edição -->
        <div class="form-row">
            <div class="form-group">
                <label asp-for="DataEdicao" class="form-label">Data de Publicação <span class="text-danger">*</span></label>
                <input asp-for="DataEdicao" type="date" class="form-control" />
                <span asp-validation-for="DataEdicao" class="text-danger"></span>
            </div>
        </div>

        <!-- Campo Sinopse -->
        <div class="form-row">
            <div class="form-group">
                <label asp-for="Sinopse" class="form-label">Sinopse <span class="text-danger">*</span></label>
                <textarea asp-for="Sinopse" class="form-control textarea"></textarea>
                <span asp-validation-for="Sinopse" class="text-danger"></span>
            </div>
        </div>

        <!-- Campo Gênero -->
        <div class="form-row">
            <div class="form-group">
                <label asp-for="IdGeneros" class="form-label">Gênero <span class="text-danger">*</span></label>
                <select asp-for="IdGeneros" class="form-control" asp-items="ViewBag.IdGeneros"></select>
                <span asp-validation-for="IdGeneros" class="text-danger"></span>
                <label class="control-label">Caso não exista:</label>
                <button type="button" class="btn btn-primary btn_rend" data-bs-toggle="modal" data-bs-target="#createGeneroModal">
                    Criar Gênero
                </button>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="btn btn-secondary" onclick="history.back()">Voltar</button>
            <input type="submit" value="Editar Livro" class="btn btn-primary" />
        </div>
    </form>
</div>
<!--PopUp País-->
<div class="modal fade" id="createPaisModal" tabindex="-1" style="z-index: 1060;" aria-labelledby="createPaisModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPaisModalLabel">Criar País</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createPaisForm">
                    <div class="form-group">
                        <label for="NomePais" class="control-label">Nome do País</label>
                        <input type="text" id="NomePais" name="NomePais" class="form-control" />
                        <span class="text-danger" id="nomePaisValidation"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="submitPaisForm()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!--Pop Up do Pop Up Autor Pais-->
<div class="modal fade" id="createPaisAutorModal" tabindex="-1" style="z-index: 1060;" aria-labelledby="createPaisModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPaisModalLabel">Criar País</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createPaisForm">
                    <div class="form-group">
                        <label for="NomePais" class="control-label">Nome do País</label>
                        <input type="text" id="NomePais" name="NomePais" class="form-control" />
                        <span class="text-danger" id="nomePaisValidation"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="submitPaisAutorForm()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- POP UP Editora -->
<div class="modal fade" id="createEditoraModal" aria-labelledby="createEditoraModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createEditoraModalLabel">Adicionar Editora</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createEditoraForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="NomeEditora" class="control-label textform_color">Nome</label>
                        <input type="text" id="NomeEditora" name="NomeEditora" class="form-control" />
                        <span class="text-danger" id="nomeEditoraValidation"></span>
                    </div>
                    <div class="form-group">
                        <label for="InfoEditora" class="control-label textform_color">Sobre a Editora</label>
                        <textarea id="InfoEditora" name="InfoEditora" class="textbox"></textarea>
                        <span class="text-danger" id="infoEditoraValidation"></span>
                    </div>
                    <div class="form-group">
                        <br />
                        <p style="color: red; font-weight: bold;">AVISO:</p>
                        <p class="form-control">Toda a informação sobre a editora deverá ser considerada <span style="color: red; font-weight: bold; text-decoration: underline;">provisória</span>.</p>
                        <br />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="submitEditoraForm()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- POP UP de Autor -->
<div class="modal fade" id="createAutorModal" tabindex="-1" aria-labelledby="createAutorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAutorModalLabel">Adicionar Autor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createAutorForm" enctype="multipart/form-data">
                    <!-- Nome do Autor -->
                    <div class="form-group">
                        <label for="NomeAutor" class="control-label">Nome do Autor <span class="text-danger">*</span></label>
                        <input type="text" id="NomeAutor" name="NomeAutor" class="form-control" />
                        <span class="text-danger" id="nomeAutorValidation"></span>
                    </div>

                    <!-- Pseudônimo -->
                    <div class="form-group">
                        <label for="Pseudonimo" class="control-label">Pseudônimo</label>
                        <input type="text" id="Pseudonimo" name="Pseudonimo" class="form-control" />
                        <span class="text-danger" id="pseudonimoValidation"></span>
                    </div>

                    <!-- Data de Nascimento -->
                    <div class="form-group">
                        <label for="DataNascimento" class="control-label">Data de Nascimento <span class="text-danger">*</span></label>
                        <input type="date" id="DataNascimento" name="DataNascimento" class="form-control" />
                        <span class="text-danger" id="dataNascimentoValidation"></span>
                    </div>

                    <!-- Bibliografia -->
                    <div class="form-group">
                        <label for="Bibliografia" class="control-label">Bibliografia <span class="text-danger">*</span></label>
                        <textarea id="Bibliografia" name="Bibliografia" class="form-control"></textarea>
                        <span class="text-danger" id="bibliografiaValidation"></span>
                    </div>
                    <div class="form-group">
                        <br />
                        <p style="color: red; font-weight: bold;">AVISO:</p>
                        <p class="form-control">Toda a informação sobre o autor deverá ser considerada <span style="color: red; font-weight: bold; text-decoration: underline;">provisória</span>.</p>
                        <br />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="submitAutorForm()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- PopUp Gênero -->
<div class="modal fade" id="createGeneroModal" tabindex="-1" style="z-index: 1060;" aria-labelledby="createGeneroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createGeneroModalLabel">Criar Gênero</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createGeneroForm">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="NomeGenero" class="control-label">Nome do Gênero</label>
                        <input type="text" id="NomeGenero" name="NomeGenero" class="form-control" />
                        <span class="text-danger" id="nomeGeneroValidation"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="submitGeneroForm()">Salvar</button>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <!-- Font Awesome for the remove button icon (optional if you use text "X") -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Custom CSS for styling (ensure this path is correct) -->
    <link rel="stylesheet" href="~/css/create_design_livro.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="/js/scriptsLivros.js"></script>
}
