

.isbn {
    font-size: 14px;
    color: #555;
}

.favorite-button {
    width: 100%;
    padding: 10px 15px;
    background-color: #ffda44; /* Cor amarela */
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .favorite-button:hover {
        background-color: #e6c200; /* Tom mais escuro no hover */
    }

