<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LibSpace - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/LibSpace_Aspnet.styles.css" asp-append-version="true" />
    <!-- Adicione a seção de estilos aqui -->
    @RenderSection("Styles", required: false)
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/css/users.css" />

    <!-- Adicione a seção de estilos aqui -->
    @RenderSection("Styles", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" alt="Logo" class="navbar-logo" />
                </a>
                <div class=" align-items-center flex-grow-1">
                    <div class="input-group">
                        <input type="text" class="custom-search-bar" placeholder="Search" aria-label="Search" aria-describedby="button-search">
                        <button class="" type="button" id="button-search">
                            <img src="~/img/icons/ico_search.png" alt="Search Icon" class="icon-img-search" />
                        </button>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <a href="#" class="mx-auto">
                        <img src="~/img/icons/ico_user.png" alt="ico_user.png" class="icon-img" />
                    </a>
                    <a href="#" class="icon-spacing">
                        <img src="~/img/icons/ico_book.png" alt="ico_book.png" class="icon-img" />
                    </a>
                    <a href="#" class="icon-spacing">
                        <img src="~/img/icons/ico_wishlist.png" alt="ico_wishlist.png" class="icon-img" />
                    </a>
                    <a href="#" class="icon-spacing">
                        <img src="~/img/icons/ico_ajuda.png" alt="ico_ajuda.png" class="icon-img" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @*  <footer >
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>