<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LibSpace - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/LibSpace_Aspnet.styles.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    @RenderSection("Styles", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-content">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Página Principal">
                        <img src="~/img/logo.png" alt="Logo" class="navbar-logo" />
                    </a>
                    
                    <div class="search-section">
                        <div class="input-group">
                            <input type="text" id="searchBox" class="custom-search-bar" placeholder="Procurar livros..." aria-label="Search" aria-describedby="button-search">
                            <button class="" type="button" id="button-search" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Procurar">
                                <img src="~/img/icons/ico_search.png" alt="Search Icon" class="icon-img-search" />
                            </button>
                        </div>
                        <div id="resultsDiv" class="search-results"></div>
                    </div>
                    <div class="icon-container">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="~/Users" class="icon-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Gerir Contas">
                                    <img src="~/img/icons/ico_gestao_contas.png" alt="ico_gestao_contas.png" class="icon-img" />
                                </a>
                            }
                            @if (User.IsInRole("Bibliotecario"))
                            {
                                <div class="dropdown">
                                    <a href="#" class="icon-link" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Adicionar">
                                            <img src="~/img/icons/ico_add_book.png" alt="ico_add_book.png" class="icon-img" />
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="~/Livroes/Create">
                                                <i class="fas fa-book"></i> Adicionar Livro
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="~/Autors/Create">
                                                <i class="fas fa-feather"></i> Adicionar Autor
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="~/Editoras/Create">
                                                <i class="fas fa-paperclip"></i> Adicionar Editora
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            <div class="dropdown">
                                <a href="#" class="icon-link" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Perfil">
                                        <img src="~/img/icons/ico_user.png" alt="ico_user.png" class="icon-img" />
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="~/Identity/Account/Manage">
                                            <i class="fas fa-user"></i> Perfil
                                        </a>
                                    </li>
                                    <li>
                                        <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                                            <button type="submit" class="btn btn-link" style="padding: 0">
                                                <i class="fas fa-sign-out-alt"></i> Logout
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a href="/login" class="icon-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Login">
                                <img src="~/img/icons/ico_login.png" alt="ico_login.png" class="icon-img" />
                            </a>
                        }
                        @if (User.IsInRole("Admin")) // MUDAR AQUI O INDICE DE REQUISICAO para BIBLIOTEACARIO
                        {
                            <a href="~/Requisicao" class="icon-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Gerir Requisições">
                                <img src="~/img/icons/ico_book.png" alt="ico_book.png" class="icon-img" />
                            </a>
                        }
                        else if (User.IsInRole("Bibliotecario"))
                        {
                            <a href="~/Requisicao" class="icon-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Gerir Requisições">
                                <img src="~/img/icons/ico_book.png" alt="ico_book.png" class="icon-img" />
                            </a>
                        }
                        else
                        {
                            <a href="~/LivrosRequisitados" class="icon-link">
                                <img src="~/img/icons/ico_book.png" alt="ico_book.png" class="icon-img" />
                            </a>
                            <a href="~/Favoritos" class="icon-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Favoritos">
                                <img src="~/img/icons/ico_wishlist.png" alt="ico_wishlist.png" class="icon-img" />
                            </a>
                        }
                        <a href="~/Home/Sobre" class="icon-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sobre">
                            <img src="~/img/icons/ico_ajuda.png" alt="ico_ajuda.png" class="icon-img" />
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @*  <footer >
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchBox = document.getElementById('searchBox');
            const buttonSearch = document.getElementById('button-search');
            
            function performSearch() {
                const query = searchBox.value.trim();
                if (query) {
                    window.location.href = '/Livroes/Index?query=' + encodeURIComponent(query);
                }
            }

            // Search when Enter key is pressed
            searchBox.addEventListener('keypress', function(e) {
                if (e.key === 'Enter') {
                    performSearch();
                }
            });

            // Search when search button is clicked
            buttonSearch.addEventListener('click', performSearch);
        });
    </script>
    <script>
        // estes scripts é só para as legendas ahha
        // Para mostrar descrição on-hover tambem
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    <script> 
        //legendas tbm
        // Get all dropdowns that have tooltips
        const dropdownsWithTooltips = document.querySelectorAll('.dropdown [data-bs-toggle="tooltip"]');
        
        dropdownsWithTooltips.forEach(element => {
            const tooltip = bootstrap.Tooltip.getInstance(element);
            const dropdownParent = element.closest('.dropdown');
            
            // Hide tooltip when dropdown is shown
            dropdownParent.addEventListener('show.bs.dropdown', () => {
                tooltip.hide();
                tooltip.disable();
            });
            
            // Re-enable tooltip when dropdown is hidden
            dropdownParent.addEventListener('hidden.bs.dropdown', () => {
                tooltip.enable();
            });
        });
    </script>
    <style>
        .search-bar{
            margin-bottom: 0;
        }
    </style>
</body>
</html>