@model LibSpace_Aspnet.Models.Pai

@{
    ViewData["Title"] = "Create";
}

<div class="form-container">
    <h4 class="form-title">Criar País</h4>
    <form asp-action="Create" class="form-content">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group">
                <label asp-for="NomePais" class="form-label">Nome do País</label>
                <input asp-for="NomePais" class="form-control" />
                <span asp-validation-for="NomePais" class="text-danger"></span>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="btn btn-secondary" onclick="history.back()">Voltar</button>
            <input type="submit" value="Criar" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Styles {
    <!-- Custom CSS for styling (ensure this path is correct) -->
    <link rel="stylesheet" href="~/css/create_design_autor.css" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}