@model LibSpace_Aspnet.Models.Pai

@{
    ViewData["Title"] = "Details";
}

<div class="form-container details-container">
    <h4 class="form-title">Detalhes do País</h4>
    <div class="form-content">
        <div class="form-row">
            <div class="form-group">
                <p><span class="info-label">Nome do País:</span> @Html.DisplayFor(model => model.NomePais)</p>
            </div>
        </div>
        <div class="form-actions">
           
            @if (User.IsInRole("Bibliotecario"))
            {
                <div class="edit-delete-buttons">
                  
                    <a asp-action="Delete" asp-route-id="@Model?.IdPais" class="btn btn-danger btn-delete">Eliminar</a>
                </div>
            }
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/create_design_editora_details.css" />
}